OPS_PORTAL_WORKER_SECRET=change-this-long-random-secret
VNC_PASSWORD=change-this-vnc-password
SLOW_MO_MS=0
WORKER_TIMEOUT_MS=240000
MANUAL_APPROVAL_WAIT_MS=300000
SCREEN_WIDTH=1440
SCREEN_HEIGHT=1000
